name: release

on:
  release:
    types: [created]

jobs:
  upload:
    name: Upload Release files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: build
        run: |
          mvn clean install
          cp ./target/pulsar-flink-state-migrate-*.jar ./
          cp README.md ./pulsar-flink-state-migrate-readme.md
          echo "ls pulsar-*"
          ls pulsar-*
      - name: publish
        uses: skx/github-action-publish-binaries@release-0.11
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: 'pulsar-*'